.centralize_div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 7rem;
    margin-inline: 1rem;
}

.field_forms {
    border-radius: 20px;
    padding: 2rem;
    background-color: var(--primary-dark-500);
    width: 30rem;
    margin: 0;
    color: var(--primary-light-500);
}

